@{
  Layout = "_Layout";
}

@model ClassFinder.Models.Company
@using ClassFinder.Models

<div class="row">
  <div class="card col-sm-8 mx-auto p-3" style="width: 30rem">
    <h2>Business Details</h2>
    <hr />
    <div>
      <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
      <h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
      <h3>@Html.DisplayNameFor(model => model.Owner): @Html.DisplayFor(model => model.Owner)</h3>
      <h3>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</h3>
      <h3>@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category.Name)</h3>
       <h3>Website:</h3>
      <p><a href="@Model.WebsiteUrl" target="_blank">@Model.WebsiteUrl</a></p>
    </div>
  </div>
</div>
<br />
<div class="button-container">
<button>@Html.ActionLink("Edit Company", "Edit", new { id = Model.CompanyId })</button>
<button>@Html.ActionLink("Delete", "Delete", new { id = Model.CompanyId })</button>
</div>