@{
  Layout = "_Layout";
}

@model ClassFinder.Models.Course
<div class="container">
<h4>Add a Class</h4>
<hr />
<p><strong>NOTE:</strong> You need to have at least one category before you can add a business!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Categories") to create a category.</p>
<hr />
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)
  <br />
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <br />
  @Html.LabelFor(model => model.Schedule)
  @Html.TextBoxFor(model => model.Schedule)
   <br />
  @Html.LabelFor(model => model.WebsiteUrl)
  @Html.TextBoxFor(model => model.WebsiteUrl, new { @class = "form-control" })
  <br />
  @Html.LabelFor(model => model.Category)
  @Html.DropDownList("CategoryId")
  <br />
  <input type="submit" value="Add new class" />
}
</div>